*{
margin:00px;
padding:00px;
}
body{
margin:00px;
padding:00px;
background-color:lightgreen;
}

div{
background-color:green;
color:white;
}
div h1{
 display:inline;
 }
div h2{
 display:inline;
 float:right;
 margin:10px;
 }
 div h2 a{
color:white;
text-decoration:none;
 }
div h2 a:hover{
background-color:blue;

cursor:pointer;
 }